@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

h1.time {
    position: absolute;
    bottom: 20px;
    left: 30px;

    margin: 0px;
    padding: 0px;

    font-family: 'Quicksand', sans-serif;
    font-size: 3cm;
    font-weight: 300;

    color: rgba(255,255,255,1);

    transition-duration: 333ms;
    transition-timing-function: cubic-bezier(0,0,0,1);
}

h2.temperature {
    margin: 0px;
    padding: 0px;

    font-family: 'Quicksand', sans-serif;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    width: 320px;

    color: rgba(255,255,255,1);

    position: relative;
}